.navBar {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    font-size: x-large;
}

.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: lightsalmon;
    height: 500px;
    justify-content: space-around;
}

.Donate {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer {display: flex;
    justify-content: space-around;
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    font-size: x-large;
}